body{
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
}

header{
    background-color: #333333
}

h1{
    background-color: #333333;
    color: #eee;
    font-size: 28px;
    text-align: center;
    padding: 15px;
}

h2{
    font-size: 24px;
}
a{
    color:red;
}

.divContent{
    width: 100%;
    margin:0;
    padding: 50px;
}

.divLeft{
    padding: 0px 0 0 80px;
    width: 53%;
    float: left;
}

.divRight{
    width:35%;
    float: right;
    padding: 0px 20px 0 0;
}

.secImg{
    float: left;
    width: 40%;
}

.secTxt{
    float: right;
    width: 60%;
    /*padding: 10px 0 0 50px;
    text-align: justify;*/
}

/*.secList{
float: right;
width: 100%;
}*/